/* banner.css */
.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; /* Set a height to ensure the video is visible */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the video is behind the content */
}

.content {
  position: relative;
  z-index: 1; /* Ensure the content is above the video */
  color: #fff; /* Adjust text color for visibility */
}

.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.car-icons,
.price-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.car-image img {
  width: 100%;
  max-width: 300px;
}

.banner-text {
  text-align: left;
}

.banner-text h1 {
  color: #ff4757;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner-text p {
  color: #2f3542;
  font-size: 1rem;
  margin-bottom: 20px;
}

.visit-us-btn {
  background-color: #ff4757;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.visit-us-btn:hover {
  background-color: #ff6b81;
}

.address {
  color: #2f3542;
  font-size: 1rem;
  margin-top: 10px;
}
.textc {
  color: hsl(30, 78%, 50%) !important;
}
